* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  background: #f4f6f8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.mobile-only {
  font-size: 26px;
  cursor: pointer;
  display: none;
}

.sidebar {
  width: 220px;
  background: #0a1325;
  color: white;
  min-height: 100vh;
  padding-top: 80px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #ccc;
  transition: .2s;
}

.sidebar a:hover {
  background: #1d3cff;
  color: white;
}


.content {
  margin-left: 220px;
  margin-top: 80px;
  padding: 25px;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  top: 60px;
  left: -100%;
  width: 70%;
  height: 100%;
  background: #0a1325;
  color: white;
  padding: 20px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 99;
}

.mobile-menu.open {
  left: 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-bottom: 1px solid #2a2a2a;
}

@media (max-width: 768px) {
  .sidebar { display: none; }
  .mobile-only { display: block; }
  .content { margin-left: 0; }
}
